asgiref==3.2.10
Django==3.0.8
pytz==2020.1
sqlparse==0.3.1
aniso8601==7.0.0
boto3==1.14.2
botocore==1.17.2
django-cleanup==5.0.0
django-cors-headers==3.3.0
django-filter==2.3.0
django-graphql-playground==1.0
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-camel-case==1.1.2
docutils==0.16
graphene==2.1.8
graphene-django==2.10.1
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
jmespath==0.10.0
Pillow==7.1.2
promise==2.3
psycopg2-binary==2.8.5
python-dateutil==2.8.1
Rx==1.6.1
s3transfer==0.3.3
singledispatch==3.4.0.3
six==1.15.0
urllib3==1.25.9
whitenoise==5.1.0
